@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background-color: #1f1f29;
    overflow: auto;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
